Source: plugin-nemo
Section: misc
Priority: extra
Maintainer: Yves ANDOLFATTO <yves.andolfatto@Company.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://monitoring-dc.app.corp/git/plugins/nemo.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=plugins/nemo.git

Package: plugin-nemo
Architecture: all
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends},
    python-monitoring-venv (>=1.0.8)
Description: Plugin for Nagios to check Nemo
 Collection of plugins to check NEMO, including:
   - CPU and MEMORY
   - Jobs outdated
   - XML age
   - Empty PIDS for jobs
