Source: plugin-colisee-clients
Section: misc
Priority: extra
Maintainer: Yves ANDOLFATTO <yves.andolfatto@Company.com>
Build-Depends:
    debhelper (>= 9),
    libstdc++5,
    libc6,
    libgcc1,
Standards-Version: 3.9.5
Vcs-Git: http://monitoring-dc.app.corp/git/plugins/colisee-clients.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=plugins/colisee-clients.git

Package: plugin-colisee-clients
Architecture: i386
Depends: 
    ${shlibs:Depends},
    ${misc:Depends},
Description: Install License client binaties
 Used by New COLISEE
