Source: plugin-mssql
Section: misc
Priority: extra
Maintainer: Patrick BAILAT <patrick.bailat-ext@faurecia.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: http://monitoring-dc.app.corp/git/plugins/mssql.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=plugins/mssql.git

Package: plugin-mssql
Architecture: all
Depends:
    ${misc:Depends},
    ${perl:Depends},
    python2.7,
    python-monitoring-nagios,
    libdbi-perl,
    libdbd-sybase-perl,
Description: Plugin for Nagios to check MSSQL
 Collection of plugins to check MSSQL, including:
    - Check account proprety
    - Check mssql health
