Source: plugin-ldap
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://canuxcheng.com/git/plugins/ldap.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/ldap.git

Package: plugin-ldap
Architecture: all
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends},
    python-monitoring-venv (>=1.0.8)
Description: Plugin for Nagios to check LDAP
 Collection of plugins to check LDAP, including:
    - Check account proprety
