Source: plugin-network
Section: net
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://canuxcheng.com/git/plugins/network.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/network.git

Package: plugin-network
Architecture: all
Depends:
    ${misc:Depends},
    ${perl:Depends},
    ${python:Depends},
    libnet-snmp-perl,
    python-monitoring-venv,
    snmp,
    libcrypt-des-perl,
Description: Nagios/Shinken Network Plugins Collection
 This is the package to install Nagios/Shinken Network Plugins used to
 check Cisco/Nortel/Extreme equipments and other network related stuff.
