Source: plugin-app-pdm
Section: misc
Priority: extra
Maintainer: Monitoring & Reporting <9OPMonitoring@none.faurecia.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://monitoring-dc.app.corp/git/plugins/pdm.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=plugins/pdm.git

Package: plugin-app-pdm
Architecture: all
Depends:
    ${misc:Depends},
    ${python:Depends},
    bash (>= 4.2),
    python-monitoring-venv,
    coreutils (>= 8.13),
    openjdk-6-jre,
Description: Nagios plugins to check PDM application
 This is the collection of Nagios plugins to check PDM applications for Nagios.
