Source: monitoring-nagios
Section: python
Priority: optional
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python-sphinx
Standards-Version: 3.9.5
X-Python-Version: >= 2.7

Package: python-monitoring-nagios
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-lxml,
Suggests: python-monitoring-nagios-doc
Description: Nagios Python Framework for doing plugins.
 Provides some wrappers arround SNMP, MSSQL, SSH, WMI, etc... to create easily
 a new plugin for Nagios & co.
 .
 This is the package for Python 2.

Package: python-monitoring-nagios-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends},
         ${misc:Depends},
Description: Nagios Python Framework for doing plugins (documentation)
 Provides some wrappers arround SNMP, MSSQL, SSH, WMI, etc... to create easily
 a new plugin for Nagios & co.
 .
 This is the package for installing the documentation.
