Source: plugin-check-logfiles
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: http://canuxcheng.com/git/plugins/check-logfiles.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/check-logfiles.git

Package: plugin-check-logfiles
Architecture: all
Depends: 
    ${misc:Depends},
    ${perl:Depends},
    smbclient,
Description: Plugin for Nagios which scans log files for specific patterns.
 Use Perl power to check log files. Ported from check_logfiles plugin from
 ConsolLabs.
