Source: plugin-elasticsearch
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
Standards-Version: 3.9.5
Homepage: https://github.com/anchor/nagios-plugin-elasticsearch
Vcs-Git: http://canuxcheng.com/git/plugins/elasticsearch.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/elasticsearch.git
X-Python-Version: >= 2.7

Package: plugin-elasticsearch
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python-nagioscheck,
         python2.7,
Description: An ElasticSearch availability and performance monitoring plugin for Nagios
 This plugin may be used to monitor ElasticSearch data and proxy nodes.
 .
 This is the package for Python 2.
