Source: plugin-windows
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: http://canuxcheng.com/git/plugins/windows.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/windows.git

Package: plugin-windows
Architecture: all
Depends:
    ${misc:Depends},
    python2.7,
    python-monitoring-nagios,
Description: Plugin for Nagios to check WINDOWS
 Collection of plugins to check WINDOWS, including:
   - Local account by WMI
   - Age of a file
