Source: plugin-erp-archiving
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://canuxcheng.com/git/plugins/erp-archiving.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/erp-archiving.git

Package: plugin-erp-archiving
Architecture: amd64
Depends: 
    ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends},
    python-monitoring-venv,
Description: Nagios plugins to check ERP-Archiving
 Collection of Nagios plugins to check ERP-Archiving.
