Source: plugin-app-exalead
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://canuxcheng.com/tracking/projects/exalead
Vcs-Git: http://canuxcheng.com/git/plugins/exalead.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/exalead.git

Package: plugin-app-exalead
Architecture: all
Depends:
    ${misc:Depends},
    python2.7,
    python-monitoring-nagios,
Description: Nagios / Shinken plugins to check Exalead application
 This package setup the plugins to check Exalead application.
