Source: plugin-omnibus
Section: misc
Priority: extra
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://canuxcheng.com/git/plugins/omnibus.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/omnibus.git

Package: plugin-omnibus
Architecture: amd64
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-monitoring-venv,
Description: Nagios plugins to check OMNibus
 Collection of Nagios plugins to check OMNibus.
