Source: plugins-nrft
Section: misc
Priority: optional
Maintainer: Canux CHENG <canuxcheng@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: http://canuxcheng.com/git/plugins/nrft.git
Vcs-Browser: http://canuxcheng.com/git/?p=plugins/nrft.git

Package: plugins-nrft
Architecture: all
Depends: 
    python2.7,
    python-monitoring-venv,
Description: Nagios plugins to check NRFT Application.
 This installs the Nagios plugins to check NRFT application (Oracle requests).

