Source: plugin-check-file-existence
Section: misc
Priority: extra
Maintainer: Vincent BESANCON <vincent.besancon@faurecia.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://monitoring-dc.app.corp/git/plugins/check-file-existence.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=plugins/check-file-existence.git

Package: plugin-check-file-existence
Architecture: all
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-monitoring-venv
Description: Nagios/Shinken plugin to check existence of files on remote server by SSH.
 Install this package to have the plugin check_file_existence that check remote
 files presence using SSH. The plugin also have the ability to check during a
 certain period. It uses state retention to do this.
