Source: plugin-hadr
Section: misc
Priority: extra
Maintainer: Patrick BAILAT <patrick.bailat-ext@faurecia.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://monitoring-dc.app.corp/git/plugins/hadr.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=plugins/hadr.git

Package: plugin-hadr
Architecture: all
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends},
    python-monitoring-venv (>=1.0.8)
Description: Plugin for Nagios to check AIX HADR
 Collection of plugins to check AIX HADR, including:
   - State HADR and graph log_gap
   - HADR Synchro
